<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="bg-red-200 text-[40px]">{{title}} abcc</h1>
    <button
      class="px-1 py-[0.5px] text-xs bg-red-100 text-red-800 font-semibold rounded mt-4 hover:bg-red-200 transition-all duration-500"
    >
      {{body}}
    </button>
    <button
      class="px-1 py-[0.5px] text-xs bg-green-100 text-green-800 font-semibold rounded mt-4 hover:bg-green-200 transition-all duration-500"
    >
      {{body}}
    </button>
    <button
      class="px-1 py-[0.5px] text-xs bg-blue-100 text-blue-800 font-semibold rounded mt-4 hover:bg-blue-200 transition-all duration-500"
    >
      {{body}}
    </button>
  </body>
</html>
